@use '../../globalStyles';

:root {
  --awell-range-top-offset: 32px;
  --awell-range-top-mobile: 28px;
}

.input_container {
  position: relative;

  .touch_tooltip_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: var(--awell-spacing-1);

    &.with_value_tooltip {
      height: 22px; // To prevent layout jumping
      @media (min-width: 640px) {
        height: 27px;
      }
    }

    .tooltip_touched {
      display: inline-block;
      text-align: center;
      background-color: var(--awell-secondary-color);
      color: var(--awell-secondary-text-color);
      padding: var(--awell-spacing-1) var(--awell-spacing-2);
      font-size: var(--awell-font-size-xs);
      border-radius: var(--awell-spacing-2);
      @media (min-width: 640px) {
        font-size: var(--awell-font-size-base);
      }
    }
  }

  .awell_range_input_wrapper {
    --awell-range-slider-background-color: var(
      --awell-accent-ring-color-buttons
    );
    --ticksHeight: 12px;
    position: relative;
    transition: all 0.25s ease-in;

    @media (min-width: 640px) {
      --awell-thick-width: 2px;
    }

    &.with_marks {
      --awell-thick-width: 1px;
      --awell-ticks: linear-gradient(
          to right,
          var(--awell-thick-color) var(--awell-thick-width),
          transparent 1px
        )
        repeat-x;
      background: silver;
      background: var(--awell-ticks);
      background-size: calc(
          100% / ((var(--awell-max) - var(--awell-min)) / var(--awell-step)) -
            0.1%
        )
        var(--ticksHeight);
      background-position: 0 calc(var(--ticksHeight) * 1.7);
      display: flex;
      flex-direction: column;
      padding-bottom: calc(var(--ticksHeight) * 1.7);
    }

    & .awell_range_input {
      --awell-radio-awell-border-radius: var(--border-radius-default, 4px);
      --awell-radio-neutral: var(--neutral, var(--awell-neutralMid400));

      font-size: var(--awell-font-size-md);
      width: 100%;
      margin: 1.3px 0;
      background-color: transparent;
      appearance: none;
      position: relative;

      &:focus {
        outline: none;
      }

      &::-webkit-slider-runnable-track {
        position: relative;
        background: var(--awell-range-slider-background-color);
        border: 0;
        border-radius: 25px;
        width: 100%;
        height: 11.4px;
        cursor: pointer;
      }

      &::-webkit-slider-thumb {
        margin-top: -1.3px;
        width: 14px;
        height: 14px;
        background: var(--awell-accent-color);
        border: 0;
        border-radius: 15px;
        cursor: pointer;
        appearance: none;
      }

      &::-moz-range-track {
        background: var(--awell-range-slider-background-color);
        border: 0;
        border-radius: 25px;
        width: 100%;
        height: 11.4px;
        cursor: pointer;
      }

      &::-moz-range-thumb {
        width: 14px;
        height: 14px;
        background: var(--awell-accent-color);
        border: 0;
        border-radius: 15px;
        cursor: pointer;
      }

      &::-ms-track {
        position: relative;
        background: transparent;
        border-color: transparent;
        border-width: 2.2px 0;
        color: transparent;
        width: 100%;
        height: 11.4px;
        cursor: pointer;
      }

      &::-ms-fill-lower {
        background: var(--awell-accent-color);
        border: 0;
        border-radius: 50px;
      }

      &::-ms-fill-upper {
        background: var(--awell-range-slider-background-color); // TODO
        border: 0;
        border-radius: 50px;
      }

      &::-ms-thumb {
        width: 14px;
        height: 14px;
        background: var(--awell-accent-color);
        border: 0;
        border-radius: 15px;
        cursor: pointer;
        margin-top: 0;

        /* Needed to keep the Edge thumb centred */
      }

      &:focus::-ms-fill-lower {
        background: var(--awell-range-slider-background-color);
      }

      &:focus::-ms-fill-upper {
        background: var(--awell-range-slider-background-color); // TODO
      }

      /* TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
    how to remove the virtical space around the range input in IE */
      @supports (-ms-ime-align: auto) {
        /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
        & {
          margin: 0;

          /* Edge starts the margin from the thumb, not the track as other browsers do */
        }
      }
    }

    & .tooltip {
      position: absolute;
      background-color: var(--awell-secondary-color);
      color: var(--awell-secondary-text-color);
      padding: var(--awell-spacing-1) var(--awell-spacing-2);
      font-size: var(--awell-font-size-sm);
      border-radius: var(--awell-spacing-2);
      transform: translateX(-50%);
      @media (min-width: 640px) {
        font-size: var(--awell-font-size-base);
      }
    }
  }

  .min_max_wrapper {
    display: flex;
    gap: var(--awell-spacing-2);
    flex-direction: column;

    .min_max_data_list {
      display: flex;
      justify-content: space-between;
      gap: var(--awell-spacing-2);
      font-size: var(--awell-font-size-sm);
      @media (min-width: 640px) {
        font-size: var(--awell-font-size-base);
      }

      & > div {
        width: 50%;
      }

      &:first-child {
        margin-top: var(--awell-spacing-1);
      }

      .min {
        text-align: left;
      }
      .max {
        text-align: right;
      }
    }
  }
}

.awell_range_input.hideThumb::-webkit-slider-thumb {
  visibility: hidden;
}

.awell_range_input.hideThumb::-moz-range-thumb {
  visibility: hidden;
}

.awell_range_input.hideThumb::-ms-thumb {
  visibility: hidden;
}

.awell_range_input.showThumb::-webkit-slider-thumb {
  visibility: visible;
}

.awell_range_input.showThumb::-moz-range-thumb {
  visibility: visible;
}

.awell_range_input.showThumb::-ms-thumb {
  visibility: visible;
}
