.awell_multiple_choice_question {
  display: flex;
  flex-direction: column;
  border: none;
  margin: 0;
  padding: 0;
}

.awell_multiple_choice_question > div:first-child {
  margin-top: var(--awell-spacing-3);
}

.awell_multiple_choice_question > div:not(:first-child) {
  margin-top: var(--awell-spacing-5);

  @media (min-width: 640px) {
    margin-top: var(--awell-spacing-4);
  }
}
