:root {
  --awell-accent100: #fdb833;
  --awell-accent40: #fee2ad;
  --awell-accent60: #fdd484;
  --awell-blue: #2E87FC;
  --awell-blue50: #DEEBFF;
  --awell-blue300: #0065FF;
  --awell-blue400: #0052CC;
  --awell-blue500: #0747A6;
  --awell-blueBorder: #126DEF;
  --awell-brand10: #e6edf9;
  --awell-brand40: #99b6e6;
  --awell-brand50: #739FE7;
  --awell-brand60: #4E7AC2;
  --awell-brand75: #B3D4FF;
  --awell-brand80: #3476E0;
  --awell-brand100: #004ac2;
  --awell-brand200: #2684FF;
  --awell-brand300: #0065FF;
  --awell-green: #67D172;
  --awell-green25: #EBFDF7;
  --awell-green50: #E3FCEF;
  --awell-green100: #27AB83;
  --awell-green500: #064;
  --awell-greenBorder: #5DB566;
  --awell-neutralDark500: #42526E;
  --awell-neutralDark600: #344563;
  --awell-neutralDark700: #253858;
  --awell-neutralDark800: #172B4D;
  --awell-neutralDark900: #091E42;
  --awell-neutralLight0: #fff;
  --awell-neutralLight10: #fafbfc;
  --awell-neutralLight100: #7A869A;
  --awell-neutralLight20: #f4f5f7;
  --awell-neutralLight30: #ebecf0;
  --awell-neutralLight40: #dfe1e6;
  --awell-neutralLight50: #c1c7d0;
  --awell-neutralMid100: #7a869a;
  --awell-neutralMid200: #6b778c;
  --awell-neutralMid300: #5e6c84;
  --awell-neutralMid400: #505F79;
  --awell-neutralMid60: #b3bac5;
  --awell-neutralMid70: #a5adba;
  --awell-neutralMid80: #97a0af;
  --awell-neutralMid90: #8993a4;
  --awell-orange: #FEC32D;
  --awell-orangeBorder: #CB9C22;
  --awell-purple: #6558BE;
  --awell-purpleBorder: #4F4498;
  --awell-red: #FF3A54;
  --awell-red100: #E12D39;
  --awell-red400: #DE350B;
  --awell-red50: #FFEBE6;
  --awell-red500: #BF2600;
  --awell-redBorder: #D12D43;
  --awell-secondaryAqua100: #01c5e3;
  --awell-secondaryBrown100: #df692f;
  --awell-secondaryLightblue100: #2590fb;
  --awell-secondaryLimegreen100: #86e34b;
  --awell-secondaryMagenta100: #e255ff;
  --awell-secondaryOrange100: #ff6000;
  --awell-secondaryPink100: #ff37be;
  --awell-secondaryPink40: #ffafe5;
  --awell-secondaryYellow100: #f7d32b;
  --awell-secondaryYellow20: #fdf6d5;
  --awell-secondaryYellow40: #f4edcb;
  --awell-signalError100: #e12d39;
  --awell-signalError60: #ed8188;
  --awell-signalError20: #F9D5D7;
  --awell-signalInformative100: #001d4d;
  --awell-signalInformative60: #667794;
  --awell-signalSuccess100: #27ab83;
  --awell-signalSuccess60: #7dccb4;
  --awell-signalWarning100: #fdd333;
  --awell-signalWarning60: #fde484;
  --awell-teal: #21C7E4;
  --awell-teal400: #00A3BF;
  --awell-teal50: #E6FCFF;
  --awell-tealBorder: #179BB2;
  --awell-yellow100: #FFE380;
  --awell-yellow75: #FFF0B3;

  --awell-primary-color: var(--awell-brand100)
}

