/**
    Handles styling of text content like messages
**/

.content {
    color: #0f172a;
    font: var(--awell-font);
    color: #475569;
    font-size: var(--awell-font-size-lg);

    h1, h2, h3, h4, h5 {
        margin: 0;
        margin-bottom: var(--awell-spacing-4);
        color: #1e293b;
    }

    h1 {
        font-size: var(--awell-font-size-3xl);

        @media (min-width: 600px) {
            font-size: var(--awell-font-size-2xl);
          }
    }

    h2 {
        font-size: var(--awell-font-size-2xl);

        @media (min-width: 600px) {
            font-size: var(--awell-font-size-xl);
          }
    }


    h3 {
        font-size: var(--awell-font-size-xl);

        @media (min-width: 600px) {
            font-size: var(--awell-font-size-lg);
          }
    }

    h4 {
        font-size: var(--awell-font-size-lg);

        @media (min-width: 600px) {
            font-size: var(--awell-font-size-base);
            text-transform: uppercase;
          }
    }
    
    h5 {
        font-size: var(--awell-font-size-base);
        font-weight: var(--awell-font-semibold);
    }

    a {
        text-decoration: none;
        color: var(--awell-brand100);
        border-bottom: 1px solid var(--awell-brand100);
        cursor: pointer;
        &:hover {
            border-bottom-width: 2px;
        }
        &:focus-visible {
            outline-offset: 1px;
            border-bottom-width: 0;
        }
    }

    p {
        margin-bottom: var(--awell-spacing-4);
        line-height: var(--awell-leading-normal);
    }

    ul, ol {
        li {
            margin-top: var(--awell-spacing-2);
            &:first-child {
                margin-top: 0;
            }
        }
    }

    img {
        max-width: 100%;
        height: auto;
    }
}