@use '../../../../globalStyles';

.footer {
  width: 100%;
  height: var(--awell-mobile-footer-height);
  background-color: var(--awell-neutralLight10);
  display: flex;
  justify-content: center;
  position: relative;
  padding: var(--awell-spacing-8) 0;

  @media (min-width: 640px) {
    height: var(--awell-footer-height);
  }

  &.fixed {
    position: fixed; 
    bottom: 0; 
    left: 0;
  }

  & .scrollHint {
    position: fixed;
    bottom: var(--awell-mobile-footer-height);
    padding: var(--awell-spacing-2) 0;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 1001;
    transition: opacity 0.3s ease-in-out;
    background-color: white;

    @media (min-width: 640px) {
      padding: var(--awell-spacing-4) 0;
      bottom: var(--awell-footer-height);
    }
  }
}
