@use '../../../../globalStyles';

.footer {
  width: 100%;
  height: var(--awell-footer-height);
  background-color: var(--awell-neutralLight10);
  display: flex;
  justify-content: center;
  position: relative;
  padding: var(--awell-spacing-8) 0;

  & .scrollHint {
    position: absolute;
    bottom: var(--awell-footer-height);
    padding: var(--awell-spacing-4) 0;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 1;
    background: #fff;
    transition: visibility 0s linear 0.2s, opacity 0.2s linear;

    &.visible {
      visibility: visible;
      opacity: 1;
      transition-delay: 0s;
    }

    &.hidden {
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s linear 0.2s, opacity 0.2s linear;
    }
  }
}
