.content {
  font: var(--awell-font);
  color: var(--awell-slate600);
  font-size: var(--awell-font-size-lg);
  width: 100%;

  h1,
  h2,
  h3,
  h4,
  h5 {
    margin: 0;
    margin-bottom: var(--awell-spacing-4);
    color: var(--awell-slate800);
  }

  h1 {
    font-size: var(--awell-font-size-3xl);

    @media (min-width: 600px) {
      font-size: var(--awell-font-size-2xl);
    }
  }

  h2 {
    font-size: var(--awell-font-size-2xl);

    @media (min-width: 600px) {
      font-size: var(--awell-font-size-xl);
    }
  }

  h3 {
    font-size: var(--awell-font-size-xl);

    @media (min-width: 600px) {
      font-size: var(--awell-font-size-lg);
    }
  }

  h4 {
    font-size: var(--awell-font-size-lg);

    @media (min-width: 600px) {
      font-size: var(--awell-font-size-base);
      text-transform: uppercase;
    }
  }

  h5 {
    font-size: var(--awell-font-size-base);
    font-weight: var(--awell-font-semibold);
  }

  a {
    text-decoration: none;
    color: var(--awell-accent-color);
    border-bottom: 1px solid var(--awell-accent-color);
    cursor: pointer;
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;

    &:hover {
      border-bottom-width: 2px;
    }

    &:focus-visible {
      outline-offset: 1px;
      border-bottom-width: 0;
    }
  }

  p {
    margin-bottom: var(--awell-spacing-4);
    line-height: var(--awell-leading-normal);
  }

  ul,
  ol {
    li {
      margin-top: var(--awell-spacing-2);

      &:first-child {
        margin-top: 0;
      }
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .bold {
    font-weight: bold;
  }

  .slate-bold {
    font-weight: bold;
  }

  .strikethrough {
    text-decoration: line-through;
  }

  .slate-strikethrough {
    text-decoration: line-through;
  }

  .underline {
    text-decoration: underline;
  }

  .slate-underline {
    text-decoration: underline;
  }

  .italic {
    font-style: italic;
  }

  .slate-italic {
    font-style: italic;
  }

  .strikethrough.underline {
    text-decoration: line-through underline;
  }

  .slate-strikethrough.slate-underline {
    text-decoration: line-through underline;
  }
}
