@use '../../globalStyles';

.awell_checklist {
  padding: var(--awell-padding-xxl) var(--awell-padding-xl);

  & .title {
    display: flex;
    margin-bottom: var(--spacing-m);
  };

  & .checklist {
    display: flex;
    flex-direction: column;
    padding-left: 4px;
    margin-top: var(--spacing-xs, 8px);
    margin-bottom: var(--spacing-xs, 8px);
  };

  & .checkboxListFormControl {
    display: flex;
  };

  & .button_wrapper {
    display: flex;
    justify-content: center;
    margin-top: var(--spacing-m, 16px);
  }
}



