@use '../../globalStyles';

.awell_checklist {
  & .title {
    display: flex;
    margin-bottom: var(--awell-spacing-1);
  };

  & .checklist {
    display: flex;
    flex-direction: column;
    padding-left: 4px;
    > div {
      margin-top: var(--awell-spacing-5);

      @media (min-width: 600px) {
        margin-top: var(--awell-spacing-4);
      }
    
      // @media (min-width: 1024px) {
      //   margin-top: var(--awell-spacing-2);
      // }
    }
  };

  & .checkboxListFormControl {
    display: flex;
  };

  & .button_wrapper {
    display: flex;
    justify-content: center;
    margin-top: var(--awell-spacing-8);
  }
}



