@use '../../globalStyles';

.awell_checklist {
  & .title {
    display: flex;
  };
  & .checklist {
    display: flex;
    flex-direction: column;
    padding-left: 4px;
    margin-top: var(--spacing-xs, 8px);
    margin-bottom: var(--spacing-xs, 8px);
  };
  & .checkboxListFormControl {
    display: flex;
  };

  & .button_wrapper {
    margin-top: var(--spacing-m, 16px);
  }
}



