@use '../../globalStyles';

.awell_button {
  /**
    Primary button
  **/
  --primary-button-background-color: var(--primary-color, #004ac2);
  --primary-button-text-color: var(--text-primary, #fff);
  --primary-button-focus-ring-color: rgb(147 197 253);
  --primary-button--hover-background-color: var(--primary-light, #0065ff);
  --primary-button--hover-text-color: var(--text-primary, #fff);

  /**
    Secondary button
  **/
  --secondary-button-background-color: var(--awell-brand10);
  --secondary-button-text-color: var(--awell-brand100);
  --secondary-button-focus-ring-color: var(--awell-brand60);
  --secondary-button--hover-background-color: var(--awell-brand75);
  --secondary-button--hover-text-color: var(--primary-light, #0065ff);

  /**
    Tertiary button
  **/
  --tertiary-button-background-color: #fff;
  --tertiary-button-border-color: rgb(209 213 219);
  --tertiary-button-text-color: rgb(55 65 81);
  --tertiary-button-focus-ring-color: var(--awell-brand80);
  --tertiary-button--hover-background-color: rgb(249 250 251);
  --tertiary-button--hover-text-color: rgb(55 65 81);
  
  /**
    Generic
  **/
  --focus-ring-offset-color: #fff;
  --focus-ring-offset-width: 2px;
  --awell-button-border-radius: var(--awell-border-radius-md);

  display: inline-flex;
  align-items: center;
  border: 1px solid transparent;
  font-weight: var(--awell-font-medium);
  border-radius: var(--awell-button-border-radius);
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  box-shadow: var(--awell-shadow-sm);

  /**
    Generic focus style
  **/
  &:focus {
    --focus-ring-color: --primary-button-focus-ring-color;
    outline: var(--focus-ring-offset-width) solid transparent;
    outline-offset: var(--focus-ring-offset-width);
    box-shadow: 0 0 0 var(--focus-ring-offset-width)
        var(--focus-ring-offset-color),
      0 0 0 calc(2px + var(--focus-ring-offset-width)) var(--focus-ring-color),
      0 1px 2px 0 rgb(0 0 0 / 0.05);
  }

  /** BUTTON SIZES **/
  &.w_full {
    width: 100%;
    text-align: center;
    justify-content: center;
  }

  &.size_xs {
    padding: var(--awell-spacing-1\.5) var(--awell-spacing-2\.5);
    font-size: var(--awell-font-size-xs);
    line-height: var(--awell-leading-4);
  }

  &.size_sm {
    padding: var(--awell-spacing-2) var(--awell-spacing-3);
    font-size: var(--awell-font-size-sm);
    line-height: var(--awell-leading-4);
  }

  &.size_base {
    padding: var(--awell-spacing-2) var(--awell-spacing-4);
    font-size: var(--awell-font-size-sm);
    line-height: var(--awell-leading-5);
  }

  &.size_lg {
    padding: var(--awell-spacing-2) var(--awell-spacing-4);
    font-size: var(--awell-font-size-base);
    line-height: var(--awell-leading-6);
  }

  &.size_xl {
    padding: var(--awell-spacing-3) var(--awell-spacing-6);
    font-size: var(--awell-font-size-base);
    line-height: var(--awell-leading-6);
  }

  /** BUTTON VARIANTS **/
  &.primary {
    color: var(--primary-button-text-color);
    background-color: var(--primary-button-background-color);

    &:hover {
      color: var(--primary-button--hover-text-color);
      background-color: var(--primary-button--hover-background-color);
      text-decoration: none;
    }

    &:disabled {
      color: #babec9;
      background-color: #f6f6f6;
    }

    &:focus {
      --focus-ring-color: var(--primary-button-focus-ring-color);
    }
  }

  &.secondary {
    color: var(--secondary-button-text-color);
    background-color: var(--secondary-button-background-color);

    &:hover {
      background-color: var(--secondary-button--hover-background-color);
      color: var(--secondary-button--hover-text-color);
      text-decoration: none;
    }

    &:disabled {
      color: #babec9;
      background-color: #fff;
    }

    &:focus {
      --focus-ring-color: var(--secondary-button-focus-ring-color);
    }
  }

  &.tertiary {
    color: var(--tertiary-button-text-color);
    border-color: var(--tertiary-button-border-color);
    background-color: var(--tertiary-button-background-color);

    &:hover {
      background-color: var(--tertiary-button--hover-background-color);
      color: var(--tertiary-button--hover-text-color);
      text-decoration: none;
    }

    &:focus {
      --focus-ring-color: var(--tertiary-button-focus-ring-color);
    }
  }

  /*
    GLOBAL DISABLED STYLES
  */
  &:disabled {
    cursor: not-allowed;
  }
}
