@use '../../globalStyles';

.awell_button {
  /**
    Primary button
  **/
  --primary-button-background-color: var(--accent-color, #004ac2);
  --primary-button-text-color: var(--text-primary, #fff);
  --primary-button-focus-ring-color: var(--accent-ring-color-buttons);
  --primary-button--hover-background-color: var(--accent-hover-color);
  --primary-button--hover-text-color: var(--text-primary, #fff);

  /**
    Secondary button
  **/
  --secondary-button-background-color: var(--secondary-color);
  --secondary-button-text-color: var(--secondary-text-color);
  --secondary-button-focus-ring-color: var(--secondary-ring-color-buttons);
  --secondary-button--hover-background-color: var(--secondary-hover-color);
  --secondary-button--hover-text-color: var(--secondary-text-color);

  /**
    Tertiary button
  **/
  --tertiary-button-background-color: #fff;
  --tertiary-button-border-color: var(--awell-slate300);
  --tertiary-button-text-color: var(--awell-slate700);
  --tertiary-button-focus-ring-color: var(--awell-slate400);
  --tertiary-button--hover-background-color: var(--awell-slate50);
  --tertiary-button--hover-text-color: var(--awell-slate700);

  /**
    Generic
  **/
  --focus-ring-offset-color: #fff;
  --focus-ring-offset-width: 2px;
  --awell-button-border-radius: var(--awell-border-radius-md);

  display: inline-flex;
  align-items: center;
  border: 1px solid transparent;
  font-weight: var(--awell-font-medium);
  border-radius: var(--awell-button-border-radius);
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  box-shadow: var(--awell-shadow-sm);
  padding: var(--awell-spacing-2) var(--awell-spacing-4);
  font-size: var(--awell-font-size-base);
  line-height: var(--awell-leading-6);

  @media (min-width: 600px) {
    padding: var(--awell-spacing-2) var(--awell-spacing-4);
    font-size: var(--awell-font-size-sm);
    line-height: var(--awell-leading-5);
  }

  /**
    Generic focus style
  **/
  &:focus {
    --focus-ring-color: --primary-button-focus-ring-color;
    outline: var(--focus-ring-offset-width) solid transparent;
    outline-offset: var(--focus-ring-offset-width);
    box-shadow: 0 0 0 var(--focus-ring-offset-width)
        var(--focus-ring-offset-color),
      0 0 0 calc(2px + var(--focus-ring-offset-width)) var(--focus-ring-color),
      0 1px 2px 0 rgb(0 0 0 / 0.05);
  }

  &.w_full {
    width: 100%;
    text-align: center;
    justify-content: center;
  }

  /** BUTTON VARIANTS **/
  &.primary {
    color: var(--primary-button-text-color);
    background-color: var(--primary-button-background-color);

    &:hover {
      color: var(--primary-button--hover-text-color);
      background-color: var(--primary-button--hover-background-color);
      text-decoration: none;
    }

    &:disabled {
      color: var(--awell-slate400);
      background-color: var(--awell-slate200);
    }

    &:focus {
      --focus-ring-color: var(--primary-button-focus-ring-color);
    }
  }

  &.secondary {
    color: var(--secondary-button-text-color);
    background-color: var(--secondary-button-background-color);

    &:hover {
      background-color: var(--secondary-button--hover-background-color);
      color: var(--secondary-button--hover-text-color);
      text-decoration: none;
    }

    &:disabled {
      color: #babec9;
      background-color: #fff;
    }

    &:focus {
      --focus-ring-color: var(--secondary-button-focus-ring-color);
    }
  }

  &.tertiary {
    color: var(--tertiary-button-text-color);
    border-color: var(--tertiary-button-border-color);
    background-color: var(--tertiary-button-background-color);

    &:hover {
      background-color: var(--tertiary-button--hover-background-color);
      color: var(--tertiary-button--hover-text-color);
      text-decoration: none;
    }

    &:focus {
      --focus-ring-color: var(--tertiary-button-focus-ring-color);
    }
  }

  /*
    GLOBAL DISABLED STYLES
  */
  &:disabled {
    cursor: not-allowed;
  }
}
