@use '../../globalStyles';

.awell_button {
  --awell-button-primary-color: var(--awell-accent-color);
  --awell-button-primary-text: var(--awell-text-on-accent-color, #fff);
  --awell-button-primary--active: var(--awell-accent-color--light, #0065FF);
  --awell-button-primary-color--active: var(--awell-accent-color--light, #0065FF);
  --awell-button-primary-subtle: #e6edf9;
  --awell-button-primary-bg: var(--primary-bg, #fff);
  --awell-button-border-radius: var(--border-radius-default, 4px);
  --awell-button-tertiary-background: var(--awell-neutralLight0);
  --awell-button-tertiary-background--active: var(--awell-neutralLight40);
  --awell-button-tertiary-color: var(--awell-neutralDark800);
  --awell-button-tertiary-border: var(--awell-neutralDark800);
  --awell-button-tertiary--disabled: var(--awell-neutralLight100);

  text-align: center;
  border-radius: var(--awell-button-border-radius);
  font-size: var(--awell-font-size-base);
  padding: var(--awell-padding-all-base);
  font-weight: 700;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  border: 2px solid;

  &:disabled {
    cursor: not-allowed;
  }

  &.primary {
    color: var(--awell-button-primary-text);
    background-color: var(--awell-button-primary-color);
    box-shadow: none;
    border-color: var(--awell-button-primary-color);

    &:hover {
      color: var(--awell-button-primary-text);
      background-color: var(--awell-button-primary--active);
      border-color: var(--awell-button-primary--active);
      text-decoration: none;
    }

    &:active {
      background-color: var(--awell-button-primary-color);
      border-color: var(--awell-button-primary--active);
      color: var(--awell-button-primary-text);
    }

    &:disabled {
      color: #babec9;
      background-color: #f6f6f6;
      border-color: #f6f6f6;
    }
  }

  &.secondary {
    color: var(--awell-button-primary-color);
    border-color: var(--awell-button-primary-color);
    background-color: var(--awell-button-primary-bg);
    box-shadow: none;

    &:hover {
      background-color: var(--awell-button-primary-subtle);
      text-decoration: none;
    }

    &:active {
      background-color: var(--awell-button-primary-subtle);
      color: var(--awell-button-primary-color, #004ac2);
    }

    &:disabled {
      color: #babec9;
      background-color: #fff;
    }
  }

  &.tertiary {
    color: var(--awell-button-tertiary-color);
    background-color: var(--awell-button-tertiary-background);
    border-color: var(--awell-button-tertiary-border);
    box-shadow: none;

    &:hover {
      background-color: var(--awell-button-tertiary-background--active);
      text-decoration: none;
    }

    &:active {
      background-color: var(--awell-button-tertiary-background--active);
    }

    &:disabled {
      background-color: var(--awell-button-tertiary--disabled);
    }
  }

  &.text {
    color: var(--awell-button-primary-color, #004ac2);
    background-color: #fff;
    border-color: #fff;
    box-shadow: none;

    &:hover {
      background-color: var(--awell-button-primary-subtle, #eceaff);
      border-color: var(--awell-button-primary-subtle, #eceaff);
    }

    &:active {
      border-color: var(--awell-button-primary-subtle, #eceaff);
    }

    &:disabled {
      color: #babec9;
      background-color: #fff;
      border: none;
    }
  }

  &.counter {
    border: none;
    background-color: #f6f6f6;
    font-size: 30px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    justify-content: space-around;
  }
}
