.awell_single_choice_question {
  display: flex;
  flex-direction: column;
  border: none;
  margin: 0;
  padding: 0;
}

@keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.35;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.35;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.35;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.35;
  }
  100% {
    opacity: 1;
  }
}

.animate_flicker {
  -webkit-animation: flickerAnimation ease 0.425s infinite;
  -moz-animation: flickerAnimation ease 0.425s infinite;
  -o-animation: flickerAnimation ease 0.425s infinite;
  animation: flickerAnimation ease 0.425s infinite;
}

.awell_single_choice_question > div {
  margin-top: var(--awell-spacing-5);

  @media (min-width: 600px) {
    margin-top: var(--awell-spacing-4);
  }
}
