.awell_single_choice_question {
  display: flex;
  flex-direction: column;
  border: none;
  margin: 0;
  padding: 0;
}

.awell_single_choice_question > div {
  margin-top: var(--awell-spacing-5);

  @media (min-width: 600px) {
    margin-top: var(--awell-spacing-4);
  }
}