.awell_single_choice_question {
  display: flex;
  flex-direction: column;
  border: none;
  margin: 0;
  padding: 0;
}

@keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.15;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.15;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.15;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.15;
  }
  100% {
    opacity: 1;
  }
}

// Make sure animation doesn't run in an inifite loop (see TP-203)
// as that will result in confusing UX when a user is at the last question.
.animate_flicker {
  -webkit-animation: flickerAnimation ease 0.425s 3;
  -moz-animation: flickerAnimation ease 0.425s 3;
  -o-animation: flickerAnimation ease 0.425s 3;
  animation: flickerAnimation ease 0.425s 3;
}

.awell_single_choice_question > div:first-child {
  margin-top: var(--awell-spacing-3);
}

.awell_single_choice_question > div:not(:first-child) {
  margin-top: var(--awell-spacing-5);

  @media (min-width: 640px) {
    margin-top: var(--awell-spacing-4);
  }
}
