@use '../../../globalStyles';

.layout_container {
  position: relative;
  z-index: 999;
  display: flex;
  flex-direction: column;

  @media (max-width: 768px) {
    @media (orientation: landscape) {
      padding-top: var(--awell-spacing-4);
    }
  }

  &.fullViewportHeight {
    height: 100%;
    overflow: hidden;
  }

  // Used in f.e. Traditional Form mode
  &.flexible {
    height: auto;
    min-height: 100vh;
  }
}

.main_content {
  flex: auto;
  overflow-y: auto;
  margin-bottom: 44px;
  padding: var(--awell-spacing-4);

  @media (min-width: 640px) {
    margin-bottom: 55px;
  }

  @media (max-height: 500px) {
    margin-bottom: var(--awell-spacing-4);
  }
}
