@use '../../../globalStyles';

.layout_container {
  position: relative;
  z-index: 999;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.main_content {
  flex: auto;
  overflow-y: auto;
  margin-bottom: 68px;
}
