.awell_question {
  --awell-question-opacity: 0;

  opacity: var(--awell-question-opacity);
  transition: opacity .25s ease-in;

  & .error {
    height: var(--awell-font-size-base);
    margin-top: var(--awell-spacing-4);
  }

  // for slider errors we want to push them lower than the default error
  // as there may be ticks marks and min/max labels below the slider input
  & .slider_error {
    margin-top: var(--awell-spacing-16);
  }
}
