.awell_question {
  --awell-question-opacity: 0;

  opacity: var(--awell-question-opacity);
  transition: opacity 0.25s ease-in;

  & .error {
    height: var(--awell-font-size-base);
    margin-top: var(--awell-spacing-4);
  }
}

.awell_question_description {
  display: block;
  color: var(--awell-neutralMid400);
  font-size: 0.875rem;
  line-height: 20px;
  margin-top: var(--awell-spacing-2);
  font-weight: 400;

  & > a {
    color: var(--awell-blue400);
    text-decoration: underline;
  }
}
