@use '../../globalStyles';

.awell_wizard_form {
  padding: 32px;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  max-width: var(--awell-form-max-width);

  & .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    & button {
      margin-top: 90px;
    }
  }

  & .wizard_form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  @media screen and (min-width:768px){
    margin: 0 auto;
    padding-bottom: 64px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
   @media screen and (min-width:1440px){
     justify-content: center;

     & .wizard_form {
       height: 50%;
       display: flex;
       flex-direction: column;
       justify-content: center;
     }
   }

   @media screen and (min-width:2560px){
     justify-content: center;
     padding: 0;

     & .wizard_form {
       height: 30%;
       display: flex;
       flex-direction: column;
       justify-content: center;
     }
   }

  & .button_wrapper {
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
  }

}



