.label {
  margin-bottom: var(--awell-spacing-4);
  font-size: var(--awell-font-size-sm);
  font-weight: var(--awell-font-medium);
  color: rgb(55 65 81);
  display: block;
}

.asterix {
  color: var(--awell-red);
}