@use '../../globalStyles';

:root {
  --awell-checkbox-primary-color: var(--primary-color, var(--awell-brand100));
  --awell-checkbox-border-radius: var(--border-radius-default, 2px);
  --awell-checkbox-neutral: var(--neutral, var(--awell-neutralMid400)); //todo
}

.awell_checkbox_label {
  cursor: pointer;
  padding: 4px 0;
  display: flex;
  align-items: self-end;
  color: var(--awell-checkbox-neutral);
  font-size: var(--awell-font-size-md);

  @media screen and (min-width: 1024px) {
    font-size: var(--awell-font-size-base);
  }
}

.awell_checkbox_button {
  position: relative;
  top: 2px;
  box-sizing: content-box;
  width: 20px;
  height: 20px;
  margin: 0 8px 0 0;
  cursor: pointer;
  -webkit-appearance: none;
  border-radius: var(--awell-checkbox-border-radius);
  background-color: #fff;
  border: 2px solid var(--awell-checkbox-neutral);

  &:before {
    content: '';
    display: block;
    transform: scale(0) rotate(45deg);
    transition: transform 200ms;
  }

  &:checked:before {
    width: 8px;
    height: 12px;
    margin: 0px 5px;
    border-bottom: 3px solid var(--awell-checkbox-primary-color);
    border-right: 3px solid var(--awell-checkbox-primary-color);
    transform: scale(1) rotate(45deg);
  }
}
