@use '../../../globalStyles';

:root {
  --awell-activity-form-max-width: var(--awell-activity-max-width);
  --awell-activity-form-padding: var(--awell-activity-padding);
}

.container {
  max-width: var(--awell-activity-form-max-width);
  padding: var(--awell-activity-form-padding);
  margin: 0 auto;
  height: 100%;

  &.traditional_container {
    height: auto;
  }
}

.awell_wizard_form {
  display: flex;
  flex-direction: column;

  & .form_progress {
    margin-bottom: var(--awell-spacing-5);

    @media (min-width: 640px) {
      margin-bottom: var(--awell-spacing-8);
    }
  }

  & .loadingContainer {
    display: flex;
    justify-content: center;
    margin-top: var(--awell-spacing-4);
  }

  & .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    & button {
      margin-top: 90px;
    }
  }

  & .wizard_form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
  }
}

.conversational_button_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.traditional_button_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: var(--awell-spacing-6);
  max-width: var(--awell-activity-form-max-width);
  padding: var(--awell-activity-form-padding);
  margin: 0 auto;
}

.traditional_form {
  margin-bottom: 0px;
}

.traditional_form_question {
  margin-bottom: var(--awell-spacing-8);
}

.trademark {
  font-size: var(--font-size-xs);
  color: var(--awell-slate500);
  font-style: italic;
  text-align: center;

  @media (min-width: 640px) {
    font-size: var(--font-size-sm);
  }

  &.traditional {
    padding-bottom: var(--awell-spacing-6);
  }
  &.conversational {
    padding-top: var(--awell-spacing-4);
  }
}
