.awell_input_field_wrapper {
  display: flex;
  flex-direction: column;
  padding: var(--awell-padding-sm) 0;

  & label {
    margin-bottom: var(--awell-padding-md);
    font-size: var(--awell-font-size-base);
  }
}

.awell_input_field {
  padding: var(--awell-padding-all-input);
  font-size: var(--awell-font-size-base);
  font-family: var(--awell-font);
  border: 2px solid #ddd;
  border-radius: 4px;

  &:focus, &:active {
    outline-color: var(--awell-accent-color);
  }
  &:disabled {
    color: #eee;
    cursor: not-allowed;
  }
}
