.awell_circular_spinner {
  --awell-spinner-color: var(--awell-accent-color);
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;

  & div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid var(--awell-spinner-color);
    border-radius: 50%;
    animation: awell_circular_spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: var(--awell-spinner-color) transparent transparent transparent;
  }
  & div:nth-child(1) {
    animation-delay: -0.45s;
  }
  & div:nth-child(2) {
    animation-delay: -0.3s;
  }
  & div:nth-child(3) {
    animation-delay: -0.15s;
  }
}

@keyframes awell_circular_spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.awell_horizontal_spinner {
  --awell-spinner-color: var(--awell-brand100);
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;

  & div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: var(--awell-spinner-color);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }

  & div:nth-child(1) {
    left: 8px;
    animation: awell_horizontal_spinner1 0.6s infinite;
  }

  & div:nth-child(2) {
    left: 8px;
    animation: awell_horizontal_spinner2 0.6s infinite;
  }

  & div:nth-child(3) {
    left: 32px;
    animation: awell_horizontal_spinner2 0.6s infinite;
  }

  & div:nth-child(4) {
    left: 56px;
    animation: awell_horizontal_spinner3 0.6s infinite;
  }
}
@keyframes awell_horizontal_spinner1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes awell_horizontal_spinner3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes awell_horizontal_spinner2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
